<div class="header header-grid" style="text-align:center">
    <a href="/sensor-overview">
        <div class="first-icon">
            <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="256"
            height="256"
            class="icon-resize"
            viewBox="0 0 67.733332 67.733335"
            version="1.1"
            id="svg8"
            inkscape:version="0.92.3 (2405546, 2018-03-11)"
            sodipodi:docname="microcontroller-icon.svg">
            <defs
            id="defs2" />
                <g
                inkscape:label="Ebene 1"
                inkscape:groupmode="layer"
                id="layer1"
                transform="translate(0,-229.26665)">
                <rect
                style="opacity:1;fill:none;fill-opacity:0.69019608;stroke:#ffffff;stroke-width:4.91177082;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
                id="rect4518"
                width="36.525906"
                height="49.212463"
                x="15.546644"
                y="238.65533" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834651;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 2.9399649,252.0987 H 17.639788"
                id="path4553"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834675;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 3.0735996,258.2459 H 17.773424"
                id="path4553-2"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834675;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 3.0735996,264.66037 H 17.773423"
                id="path4553-26"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834675;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 3.0735996,271.07484 H 17.773424"
                id="path4553-8"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834675;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 3.0735995,283.90378 H 17.773425"
                id="path4553-7"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834675;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 3.0735996,277.48931 H 17.773424"
                id="path4553-86"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834675;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 2.8063306,245.41696 H 17.506154"
                id="path4553-4"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834675;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 49.578497,251.83143 H 64.278319"
                id="path4553-6"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834699;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 49.712131,257.97863 H 64.411955"
                id="path4553-2-8"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834699;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 49.712131,264.3931 H 64.411954"
                id="path4553-26-8"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834699;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 49.712131,270.80757 H 64.411955"
                id="path4553-8-6"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834699;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 49.712131,283.63651 H 64.411956"
                id="path4553-7-0"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834699;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 49.712131,277.22204 H 64.411955"
                id="path4553-86-6"
                inkscape:connector-curvature="0" />
                <path
                style="fill:none;stroke:#ffffff;stroke-width:3.30834699;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 49.444862,245.14969 H 64.144685"
                id="path4553-4-7"
                inkscape:connector-curvature="0" />
                </g>
            </svg>
        </div>
    </a>
    <a href="sensor-details">
        <div class="second-icon">
            <svg
               xmlns:dc="http://purl.org/dc/elements/1.1/"
               xmlns:cc="http://creativecommons.org/ns#"
               xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
               xmlns:svg="http://www.w3.org/2000/svg"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
               xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
               width="256"
               height="256"
               class="icon-resize"
               viewBox="0 0 67.733332 67.733335"
               version="1.1"
               id="svg8"
               inkscape:version="0.92.3 (2405546, 2018-03-11)"
               sodipodi:docname="chart-icon.svg">
              <defs
                 id="defs2" />
              <g
                 inkscape:label="Ebene 1"
                 inkscape:groupmode="layer"
                 id="layer1"
                 transform="translate(0,-229.26665)">
                <path
                   style="fill:none;stroke:#fffffa;stroke-width:3.24692369;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                   d="m 8.8198943,239.0025 v 49.9794 H 63.708691"
                   id="path4678"
                   inkscape:connector-curvature="0" />
                <path
                   style="fill:none;stroke:#ffffff;stroke-width:1.65789092;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                   d="m 9.1198331,271.60938 13.1973069,9.88897 16.496633,-30.736 2.999386,28.06331 13.197309,-7.21628 2.999386,-10.95805"
                   id="path4680"
                   inkscape:connector-curvature="0"
                   sodipodi:nodetypes="cccccc" />
              </g>
            </svg>   
        </div>
    </a>              
    <div class="title">{{title}}</div>  
</div>