// breakpoint variables
$small-break: 600px;
$medium-break: 768px;
$large-break: 1024px;
$very-large-break: 1280px;
$huge-break: 1980px;

$dark-cyan: #177272;
$light-cyan: darkcyan;

.icon-resize{
    margin-top: 10px; 
    width: 64px;
    height:64px;
}
